@model DataLayer.DataLayer.User
@{
    ViewBag.Title = "Дополнительная информация";
}


<h2>Пользователь</h2>

<div class="container">
   <table>
       <tr>
           <td class="">Id</td>
           <td>@Model.Id</td>
       </tr>
       <tr>
            <td>Фамилия</td>
            <td>@Model.LastName</td>
       </tr>
       <tr>
           <td>Имя</td>
           <td>@Model.FirstName</td>
       </tr>
       <tr>
           <td>Отчество</td>
           <td>@Model.Patronic</td>
       </tr>
   </table>
</div>