@model ShopManagerSystems.ViewModel.CheckViewModel

@{
    ViewBag.Title = "Создание чека";
}
<h3>@ViewBag.Title</h3>
<form asp-action="CreateCheck" asp-controller="Home" enctype="multipart/form-data">
    <input type="hidden" asp-for = "UserId" value ="@Model.UserId" />
    <input type="hidden" asp-for = "Id" value ="@Model.Id" />
    <div class="row g-3">
        <div class="form-group col-md-4">
            <label asp-for="Date" class="control-label">Дата</label>
            <input type="date" asp-for="Date" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Summa" class="control-label">Сумма</label>
            <input type="text" asp-for="Summa" class="form-control" />
        </div>
    </div>
       <div class="form-group col-md-8">
        <label asp-for="File" class="control-label">Добавить файл</label>
        <input type="File" asp-for="File" class="form-control" />
    </div>
    <br />
    <div class="form-group col-12">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>

</form>

