@model ShopManagerSystems.ViewModel.UserCreateViewModel
@{
    ViewBag.Title = "Создать пользователя";
}

<div class="container d-flex align-items-center justify-content-center">

    <form asp-action="CreateUser" asp-controller="Home" class="col-sm-12"> 
        <div class="row mb-3">
            <label asp-for="LastName" class="col-sm-1 col-form-label text-start">Фамилия</label>
            <div class="col-sm-4">
                <input type="text" asp-for="LastName" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="FirstName" class="col-sm-1  control-label text-start">Имя</label>
            <div class="col-sm-4">
                <input type="text" asp-for="FirstName" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="PatronicName" class="col-sm-1 text-start">Отчесво</label>
            <div class="col-sm-4">
                <input type="text" asp-for="PatronicName" class="form-control" />
            </div>
        </div>
        <br>
        <div class="row mb-3 justify-content-sm-end col-sm-5">
            <input type="submit" value="Сохранить" class="btn btn-primary col-sm-3" />
        </div>
    </form>
</div>